.middag{
	background-image: url("backgrounds/afternoon.png");
	background-size: cover;
}

.avond{
	background-image: url("backgrounds/evening.png");
	background-size: cover;
}

.nacht{
	background-image: url("backgrounds/night.png");
	background-size: cover;
}

.morgen{
	background-image: url("backgrounds/morning.png");
	background-size: cover;
}

body {
	text-align: center;
}

h1{
	font-size: 600%
}
h2{
	font-size: 500%
}